.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d0d0d;
}

.hero-video {
  position: absolute;
  width: 100%;
  height: 90%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.4;
}

.hero-overlay {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  backdrop-filter: blur(2px);
  padding: 20px;
}

.hero h1 {
  font-size: 3.5rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 20px #ff3131;
}

.hero h1 span {
  color: #ff7b00;
}

.hero-btn {
  margin-top: 25px;
  padding: 14px 35px;
  border: none;
  background: linear-gradient(90deg, #ff3131, #ff7b00);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 0 20px rgba(255, 90, 0, 0.5);
}

.hero-btn:hover {
  box-shadow: 0 0 30px #ff7b00, 0 0 50px #ff3131;
  transform: scale(1.05);
}
